%h1.current-category
  = params[:category]

- if @books.count == 0
  %h2 There is no book currently in this category
- else
  %div.row
    - @books.each do |book|
      %div.col-md-3
        %a{:href => "/books/#{book.id}"}
          = image_tag book.book_img.url(:book_index), :class => "book"